.nav-gc {
    background-color: #e7e7e7;
    height: 33px;
    width: 100%;
    font-size: 12px;
    color: #333333;
    display: flex;
    align-items: center;
}

.nav-gc-content {
    color: #333333;
}

.nav-gc-content:hover {
    color: #E47911;
    text-decoration: underline solid #E47911 1px;
}

.img {
    height: 320px;
    width: 96%;
    padding: 10px;
    margin-top: 14px;
    background-color: #e7e7e7;
}

.mini-nav {
    text-decoration: none;
    color: black;
}

.mini-nav:hover {
    color: #008296;
}