#logo {
    height: 70px;
    color: white;
}

#Deliver {
    color: #ccc;
    font-size: 12px;
    margin: 10px;
    text-decoration: none;
}

#district {
    color: aliceblue;
    font-size: 14px;
}

#cart {
    height: 45px;
    margin-top: 7px;
}

#all {
    padding: 9px 9px 8px 29px;
    font-size: 14px;
    display: inline-block;
}

#History {
    font-family: "Amazon Ember", Arial, sans-serif;
}

#music {
    color: aliceblue;
    font-size: 12px;
    text-decoration: none;
}

#upper-footer {
    font-family: "Amazon Ember", Arial, sans-serif;
}

/* Hover effects */

#but-again:hover {
    border: 2px solid white;
}

.top:hover {
    background-color: rgb(25, 66, 79);
}

li:hover {
    text-decoration: underline solid #dddddd;
}

#define:hover {
    text-decoration: underline solid #999999;
}

#music:hover {
    text-decoration: underline solid white;
}